.row.snippet-details
  .small-6.columns
    %span
      %span.show-for-large-up Name:
      %span.name= snippet.slug
    |
    %span
      %span.show-for-large-up Language:
      %span= snippet.language.name
    |
    %span
      %span.show-for-large-up Author:
      %span= snippet.user.username
  .small-6.columns
    .right
      - if current_user and current_user != snippet.user
        = link_to "Fork", fork_snippet_path(snippet), class: 'label radius alert'
      = link_to "Raw", raw_snippet_path(snippet), class: 'label radius'
%br
