.row
  .small-6.columns
    %strong Language:
    = @snippet.language.titleize
  .small-6.columns
    = link_to "Raw", raw_snippet_path(@snippet), class: 'label radius right'
%br
.code_block
  - if @snippet.highlighted.present?
    = raw @snippet.highlighted
  - else
    .raw
      %pre
        = @snippet.raw
%br
.row
  .small-6.columns
    = link_to "Create New", root_url, class: 'tiny button'

